<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link href="/css/styles.css" rel="stylesheet"/>
<body>
    <div id="bg-video-container">
        <video autoplay muted loop id="bg-video">
            <source src="/657905493.mp4" type="video/mp4">
        </video>
      </div>

    <form id="newmovie" method="post" action="/imdbid" autocomplete="off">
        <div class="nd">
            <a id="nh" href="/">HOME</a>
        <label id="nl">Enter the movie name:</label>
        <input id="nt" type="text" name="movie">
        <input id="ns" type="submit">
    </div>
      </form>
</body>
</html>